<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @e1ubicacion.nombre %>
</p>

<p>
  <strong>Almacen:</strong>
  <%= @e1ubicacion.almacen %>
</p>

<%= link_to 'Edit', edit_e1ubicacion_path(@e1ubicacion) %> |
<%= link_to 'Back', e1ubicacions_path %>
