<%= form_with(model: e1empresa, local: true) do |form| %>
  <% if e1empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(e1empresa.errors.count, "error") %> prohibited this e1empresa from being saved:</h2>

      <ul>
      <% e1empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_empresa %>
    <%= form.text_field :nombre_empresa, id: :e1empresa_nombre_empresa %>
  </div>

  <div class="field">
    <%= form.label :rut_empresa %>
    <%= form.text_field :rut_empresa, id: :e1empresa_rut_empresa %>
  </div>

  <div class="field">
    <%= form.label :url_app %>
    <%= form.text_field :url_app, id: :e1empresa_url_app %>
  </div>

  <div class="field">
    <%= form.label :url_api %>
    <%= form.text_field :url_api, id: :e1empresa_url_api %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :e1empresa_tipo %>
  </div>

  <div class="field">
    <%= form.label :creado_por %>
    <%= form.text_field :creado_por, id: :e1empresa_creado_por %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
