<p id="notice"><%= notice %></p>

<p>
  <strong>Aempresa:</strong>
  <%= @acentro.aempresa %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @acentro.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @acentro.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @acentro.direccion %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @acentro.numero %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @acentro.comuna %>
</p>

<p>
  <strong>Region:</strong>
  <%= @acentro.region %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @acentro.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @acentro.lng %>
</p>

<%= link_to 'Edit', edit_acentro_path(@acentro) %> |
<%= link_to 'Back', acentros_path %>
