<p id="notice"><%= notice %></p>

<p>
  <strong>Coreid:</strong>
  <%= @adispositivo.coreid %>
</p>

<p>
  <strong>Arecurso:</strong>
  <%= @adispositivo.arecurso %>
</p>

<p>
  <strong>Acentro:</strong>
  <%= @adispositivo.acentro %>
</p>

<p>
  <strong>Instalacion ref:</strong>
  <%= @adispositivo.instalacion_ref %>
</p>

<p>
  <strong>Fabricante core:</strong>
  <%= @adispositivo.fabricante_core %>
</p>

<p>
  <strong>Firmware version:</strong>
  <%= @adispositivo.firmware_version %>
</p>

<p>
  <strong>Tipo dispositivo:</strong>
  <%= @adispositivo.tipo_dispositivo %>
</p>

<p>
  <strong>Software version:</strong>
  <%= @adispositivo.software_version %>
</p>

<%= link_to 'Edit', edit_adispositivo_path(@adispositivo) %> |
<%= link_to 'Back', adispositivos_path %>
