<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @e1articulo.sku %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @e1articulo.descripcion %>
</p>

<p>
  <strong>Um:</strong>
  <%= @e1articulo.UM %>
</p>

<p>
  <strong>Formato:</strong>
  <%= @e1articulo.formato %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @e1articulo.familia %>
</p>

<p>
  <strong>Sub familia:</strong>
  <%= @e1articulo.sub_Familia %>
</p>

<p>
  <strong>Ude1:</strong>
  <%= @e1articulo.ude1 %>
</p>

<p>
  <strong>Ude2:</strong>
  <%= @e1articulo.ude2 %>
</p>

<%= link_to 'Edit', edit_e1articulo_path(@e1articulo) %> |
<%= link_to 'Back', e1articulos_path %>
