<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @e1produccion.timestamp %>
</p>

<p>
  <strong>E1recurso:</strong>
  <%= @e1produccion.e1recurso %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @e1produccion.qty %>
</p>

<p>
  <strong>E1articulo:</strong>
  <%= @e1produccion.e1articulo %>
</p>

<p>
  <strong>In ref:</strong>
  <%= @e1produccion.in_ref %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @e1produccion.grupo %>
</p>

<%= link_to 'Edit', edit_e1produccion_path(@e1produccion) %> |
<%= link_to 'Back', e1produccions_path %>
