<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @e1tipo_evento.nombre %>
</p>

<p>
  <strong>Ruta bd:</strong>
  <%= @e1tipo_evento.ruta_bd %>
</p>

<%= link_to 'Edit', edit_e1tipo_evento_path(@e1tipo_evento) %> |
<%= link_to 'Back', e1tipo_eventos_path %>
