<p id="notice"><%= notice %></p>

<h1>E1dispositivos</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Coreid</th>
      <th>E1recurso</th>
      <th>E1centro</th>
      <th>Instalacion ref</th>
      <th>Fabricante core</th>
      <th>Firmware version</th>
      <th>Tipo dispositivo</th>
      <th>Software version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @e1dispositivos.each do |e1dispositivo| %>
      <tr>
        <td><%= e1dispositivo.coreid %></td>
        <td><%= e1dispositivo.e1recurso.nombre %></td>
        <td><%= e1dispositivo.e1centro.nombre %></td>
        <td><%= e1dispositivo.instalacion_ref %></td>
        <td><%= e1dispositivo.fabricante_core %></td>
        <td><%= e1dispositivo.firmware_version %></td>
        <td><%= e1dispositivo.tipo_dispositivo %></td>
        <td><%= e1dispositivo.software_version %></td>
        <td><%= link_to 'Show', e1dispositivo %></td>
        <td><%= link_to 'Edit', edit_e1dispositivo_path(e1dispositivo) %></td>
        <td><%= link_to 'Destroy', e1dispositivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New E1dispositivo', new_e1dispositivo_path %>
