<p id="notice"><%= notice %></p>

<p>
  <strong>Coreid:</strong>
  <%= @e1dispositivo.coreid %>
</p>

<p>
  <strong>E1recurso:</strong>
  <%= @e1dispositivo.e1recurso %>
</p>

<p>
  <strong>E1centro:</strong>
  <%= @e1dispositivo.e1centro %>
</p>

<p>
  <strong>Instalacion ref:</strong>
  <%= @e1dispositivo.instalacion_ref %>
</p>

<p>
  <strong>Fabricante core:</strong>
  <%= @e1dispositivo.fabricante_core %>
</p>

<p>
  <strong>Firmware version:</strong>
  <%= @e1dispositivo.firmware_version %>
</p>

<p>
  <strong>Tipo dispositivo:</strong>
  <%= @e1dispositivo.tipo_dispositivo %>
</p>

<p>
  <strong>Software version:</strong>
  <%= @e1dispositivo.software_version %>
</p>

<%= link_to 'Edit', edit_e1dispositivo_path(@e1dispositivo) %> |
<%= link_to 'Back', e1dispositivos_path %>
