<p id="notice"><%= notice %></p>

<p>
  <strong>E1articulo:</strong>
  <%= @e1planprod.e1articulo %>
</p>

<p>
  <strong>E1recurso:</strong>
  <%= @e1planprod.e1recurso %>
</p>

<p>
  <strong>Inicio plan:</strong>
  <%= @e1planprod.inicio_plan %>
</p>

<p>
  <strong>Fin plan:</strong>
  <%= @e1planprod.fin_plan %>
</p>

<p>
  <strong>Orden trabajo:</strong>
  <%= @e1planprod.orden_trabajo %>
</p>

<p>
  <strong>Q plan:</strong>
  <%= @e1planprod.q_plan %>
</p>

<p>
  <strong>Inicio real:</strong>
  <%= @e1planprod.inicio_real %>
</p>

<p>
  <strong>Fin real:</strong>
  <%= @e1planprod.fin_real %>
</p>

<%= link_to 'Edit', edit_e1planprod_path(@e1planprod) %> |
<%= link_to 'Back', e1planprods_path %>
