<p id="notice"><%= notice %></p>

<h1>Sensores</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Coreid</th>
      <th>Ubicacion</th>
      <th>Factor</th>
      <th>Tipo</th>
      <th>Ultima conexion</th>
      <th>Empresa</th>
      <th>Centro</th>
      <th>Almacen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensores.each do |sensor| %>
      <tr>
        <td><%= sensor.coreid %></td>
        <td><%= sensor.ubicacion %></td>
        <td><%= sensor.factor %></td>
        <td><%= sensor.tipo %></td>
        <td><%= sensor.ultima_conexion %></td>
        <td><%= sensor.empresa.nombre_empresa %></td>
        <td><%= sensor.centro %></td>
        <td><%= sensor.almacen %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Sensor', new_sensor_path %>
