<p id="notice"><%= notice %></p>

<p>
  <strong>Adispositivo:</strong>
  <%= @aevento_dispositivo.adispositivo %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @aevento_dispositivo.pin %>
</p>

<p>
  <strong>Um:</strong>
  <%= @aevento_dispositivo.UM %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @aevento_dispositivo.factor %>
</p>

<p>
  <strong>Arecurso:</strong>
  <%= @aevento_dispositivo.arecurso %>
</p>

<p>
  <strong>Atipo evento:</strong>
  <%= @aevento_dispositivo.atipo_evento %>
</p>

<p>
  <strong>Sub tipo evento:</strong>
  <%= @aevento_dispositivo.sub_tipo_evento %>
</p>

<%= link_to 'Edit', edit_aevento_dispositivo_path(@aevento_dispositivo) %> |
<%= link_to 'Back', aevento_dispositivos_path %>
