<p id="notice"><%= notice %></p>

<p>
  <strong>E1centro:</strong>
  <%= @e1recurso.e1centro %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @e1recurso.nombre %>
</p>

<p>
  <strong>E1ubicacion:</strong>
  <%= @e1recurso.e1ubicacion %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @e1recurso.linea %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @e1recurso.familia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @e1recurso.tipo %>
</p>

<p>
  <strong>Productividad hora:</strong>
  <%= @e1recurso.productividad_hora %>
</p>

<%= link_to 'Edit', edit_e1recurso_path(@e1recurso) %> |
<%= link_to 'Back', e1recursos_path %>
