<p id="notice"><%= notice %></p>

<p>
  <strong>E1empresa:</strong>
  <%= @e1centro.e1empresa %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @e1centro.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @e1centro.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @e1centro.direccion %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @e1centro.numero %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @e1centro.comuna %>
</p>

<p>
  <strong>Region:</strong>
  <%= @e1centro.region %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @e1centro.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @e1centro.lng %>
</p>

<%= link_to 'Edit', edit_e1centro_path(@e1centro) %> |
<%= link_to 'Back', e1centros_path %>
