<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @e1reporting_prod.Timestamp %>
</p>

<p>
  <strong>Recurso:</strong>
  <%= @e1reporting_prod.recurso %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @e1reporting_prod.centro %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @e1reporting_prod.ubicacion %>
</p>

<p>
  <strong>Timestamp 5m:</strong>
  <%= @e1reporting_prod.timestamp_5m %>
</p>

<p>
  <strong>Timestamp 10m:</strong>
  <%= @e1reporting_prod.timestamp_10m %>
</p>

<p>
  <strong>Timestamp 30m:</strong>
  <%= @e1reporting_prod.timestamp_30m %>
</p>

<p>
  <strong>Timestamp 1h:</strong>
  <%= @e1reporting_prod.timestamp_1h %>
</p>

<p>
  <strong>Timestamp 8h:</strong>
  <%= @e1reporting_prod.timestamp_8h %>
</p>

<p>
  <strong>Timestamp 24h:</strong>
  <%= @e1reporting_prod.timestamp_24h %>
</p>

<p>
  <strong>Timestamp w:</strong>
  <%= @e1reporting_prod.timestamp_w %>
</p>

<p>
  <strong>Timestamp mm:</strong>
  <%= @e1reporting_prod.timestamp_MM %>
</p>

<p>
  <strong>Timestamp y:</strong>
  <%= @e1reporting_prod.timestamp_Y %>
</p>

<p>
  <strong>Q:</strong>
  <%= @e1reporting_prod.Q %>
</p>

<p>
  <strong>Time q:</strong>
  <%= @e1reporting_prod.time_Q %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @e1reporting_prod.categoria %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @e1reporting_prod.articulo %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @e1reporting_prod.familia %>
</p>

<p>
  <strong>Sub familia:</strong>
  <%= @e1reporting_prod.sub_familia %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @e1reporting_prod.referencia %>
</p>

<%= link_to 'Edit', edit_e1reporting_prod_path(@e1reporting_prod) %> |
<%= link_to 'Back', e1reporting_prods_path %>
