<p id="notice"><%= notice %></p>

<p>
  <strong>Acentro:</strong>
  <%= @arecurso.acentro %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @arecurso.nombre %>
</p>

<%= link_to 'Edit', edit_arecurso_path(@arecurso) %> |
<%= link_to 'Back', arecursos_path %>
