<p id="notice"><%= notice %></p>

<p>
  <strong>E1dispositivo:</strong>
  <%= @e1evento_dispositivo.e1dispositivo %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @e1evento_dispositivo.pin %>
</p>

<p>
  <strong>Um:</strong>
  <%= @e1evento_dispositivo.UM %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @e1evento_dispositivo.factor %>
</p>

<p>
  <strong>E1recurso:</strong>
  <%= @e1evento_dispositivo.e1recurso %>
</p>

<p>
  <strong>E1tipo evento:</strong>
  <%= @e1evento_dispositivo.e1tipo_evento %>
</p>

<p>
  <strong>Sub tipo evento:</strong>
  <%= @e1evento_dispositivo.sub_tipo_evento %>
</p>

<p>
  <strong>Clasificacion evento:</strong>
  <%= @e1evento_dispositivo.clasificacion_evento %>
</p>

<%= link_to 'Edit', edit_e1evento_dispositivo_path(@e1evento_dispositivo) %> |
<%= link_to 'Back', e1evento_dispositivos_path %>
